.modal {
  position: fixed;
  inset: 0;
  z-index: 100;
}

.content {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
}

.page {
  background: var(--color-background);
  padding: 16px;
  border-radius: 10px;
  margin: auto;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
