.row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  gap: 20px;
}

.legend {
  flex: 1;
  min-width: 0;
}

.title {
  font-weight: bold;
}

.subTitle {
  font-size: 0.8em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
