@import "dockview/dist/styles/dockview.css";
@import "reset.scss";
@import "fonts.scss";
@import "dark.scss";

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
}

#root {
  height: 100vh;
  overflow: hidden;
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding-left: 1em;

  li p {
    margin: 0.5em 0;
  }
}

code {
  background: var(--color-code-background);
  color: var(--color-code-text);
  border-radius: 4px;
  padding: 0 5px;
  font-family: inherit;
  font-size: 0.9em;
}

pre {
  background: var(--color-pre-background);
  padding: 10px;
  border-radius: 4px;
  font-size: inherit;

  code {
    padding: 0;
    background: transparent;
    color: inherit;
  }
}

blockquote {
  background: var(--color-pre-background);
  margin-left: 0;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9em;
  border-left: var(--color-border) 4px solid;

  p {
    margin: 5px 0;
  }
}

img {
  max-width: 100%;
}
