.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.content {
  flex: 1;
}

.panel {
  flex: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1;
}
