.page {
  background: var(--color-background);
  padding: 16px;
  border-radius: 10px;
  box-shadow: var(--color-border) 0 0 0 1px;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0 0 20px 0;
}

.title {
  flex: 1;
  font-size: 1.4em;
}
