.wrapper {
  height: 100%;
  box-sizing: border-box;

  & > :global(.remirror-editor-wrapper) {
    height: 100%;
    box-sizing: border-box;
  }
}

.editor {
  outline: none;
  height: 100%;
  box-sizing: border-box;

  & > :first-child {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }

  & > :last-child {
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }
}
